$primaryVeryDarkBlue:hsl(243, 87%, 12%);
$primaryDesatBlue:hsl(238, 22%, 44%);
$accentBrightBlue: hsl(224, 93%, 58%);
$accentModCyan:hsl(170, 45%, 43%);
$neutralltgrayBlue:hsl(240, 75%, 98%);
$neutralLtGray:hsl(0, 0%, 75%);
$Ralewayff:'Raleway';
$OpenSansff:'Open Sans';